@import '../node_modules/bootstrap/scss/bootstrap.scss';


@import 'colors';



/*


FONTS


*/


@font-face {
	font-family : 'MyriadPro-Regular';
	src         : url(src/fonts/MyriadPro-Regular.woff2) format('woff2');
	font-weight : 300;
	font-style  : normal;
	font-display: swap;
}

@font-face {
	font-family: 'MyriadPro-Bold';
	src        : url(src/fonts/MyriadPro-Bold.woff2) format('woff2');

	font-weight : 600;
	font-style  : normal;
	font-display: swap;
}
*{
	font-family: 'MyriadPro-Regular';
}
b,h3,h5, .fontBold{
	font-family:'MyriadPro-Bold';
}


.textBoxMulher{
	
	display: flex
	;
		flex-direction: column;
		justify-content: space-around;
		height: 90vh;
		padding: 0px 25% 0px 20%;
		text-align: start;
}
.textBlue{
	color:$roxo;
}
.textWhite{
	color:white;
}
.textPink{
	color:$pink;
}
.greyText{
	color:#848381;
}
.txtNormal{
	font-size: 1.5rem;
}
.txtSmall{
	font-size: 1.25rem;
}
.fontNormal{
	font-size: 2rem;
	
	letter-spacing: 1px;
}
.fontBig{
	font-size: 2.75rem;
	font-weight: bold;
	letter-spacing: 1px;
}
.fontGrande{
	font-size:3.5rem;
	font-family: 'MyriadPro-Bold';
	font-weight: bold;
}
.fontTitle{
	font-size: 4.5rem;
}

h1 {
	font-size: 4.5rem;
  }
  
  h2 {
	font-size: 3.5rem;
  }
  
  h3 {
	font-size: 3rem;
  }
  
  h4 {
	font-size: 2.5rem;
  }
  
  h5 {
	font-size: 2rem;
  }
  
  h6 {
	font-size: 1.5rem;
  }
  
  body {
	font-size: 1rem;
  }
  
  .small-text {
	font-size: 0.875rem;
  }
  
  .extra-small-text {
	font-size: 0.75rem;
  }

/*

	ESTILOS

*/



.carousel-item {
	background     : no-repeat center center;
	background-size: cover;
	min-height     : 100vh;
	height         : calc(50vh + 40px);
}


.content {
	min-height      : calc(100vh - 300px);
	// padding-top: 87px !important; 
	background-color: $branco;
	text-align      : center;

	
	
}
.navbar-nav{
	display: flex
;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    width: 100%;
    /* text-align: center; */
    justify-content: center;

	.nav-link{
		font-size: 1.5rem;
	}
}

footer{

	// height:300px;
	padding:5% 0;
}
.nav-link{
	color:white;
}
.banner{
	background: url(img/BACKGROUND_BANNER.jpg) no-repeat center center;
    background-size: cover;
    min-height: 77vh;
    padding: 22vh 0 0 0;
}
.produtoCta{
	width: 590px !important;
}
#header{
	background     : transparent;
	z-index:1;
}
.btnPink{
	background-color: #e83e8c;
    display: block;
    color: white;
    border-radius: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    width: 330px;
    /* height: 70px; */
    font-size: 1.5rem;
    padding: 16px;
    /* max-width: 30%; */
    margin: 0 auto;
}
.ctaText{
	display: flex;
	justify-content: center;
	align-items: center;
	
	ul{
		padding:0;
		list-style-type:none;
		text-align:start;
		
	}
	
	
}
.listaCta{
	li{
		margin:32px 0px;
	}
}
.whiteRow{
	background-color:#eeeeee;
	
	//padding:5% 0;
}
.whiteBg{
	background-color:white;
}

.blueBg{
	background-color:$azul;
}
.bgRoxo{
	background-color:#666cfe;
}
.greyBg{
	background-color:#eeeeee;
}
.listaCard{
	list-style-type: none;
	padding:0;
	display:flex;
	flex-direction:row;
	justify-content: space-evenly;
	text-align: center;
	margin-top:6px;

	.card{
		width: 300px;
		height: 300px;
		text-align: center;
		background: #f4f4f4;
		border-radius: 25px;
		align-items: center;
		padding: 15%;
		box-shadow: 10px 10px 41px 0px rgba(0, 0, 0, 0.75);
		span{
			font-size:1.5rem;
			font-weight: bold;
		}
	}
	img{
		
		height:140px;
	}

}
.backgroundLayerOne{
	background: url(img/NUVEM_01.png) no-repeat top right;
    background-position-y: 78px;
    background-position-x: 340px;
	
}
.backgroundLayer{
	background: url(img/NUVEM_02.png) no-repeat bottom left;
	background-position-y: 450px;
    background-position-x: 110px;;

}

.spacing{
	padding:5% 0;
}

.listaBen{
	
	ul{
		padding:0;
		list-style-type: disc;
		margin:8px 20px;
		li{
			font-weight: bold;
			font-size:2rem;
		}
		li::marker{
			color:$roxo;
		}
	}
	display: flex;
	flex-direction: row;
	justify-content: center;
	

}
.mulherSection{
	min-height: 120vh;
    background-position-x: 352px;
    background-position-y: 560px;
    background-size: 75%;

}
.imgMulher{
	position: absolute;
	right: -200px;
	z-index: 999;
	bottom:0;
}
.imgCientista{
	margin-left:32px;
	width:300px;
	margin:15% 0px;
}	
.rowTransicao{
	
	padding: 5vh 0;
	;
	
	p{
		color:white;
	}
	img{
		margin-top: 50px;
	}
}
.nuvemBgDup{
	background: url("img/NUVEM_05.png") no-repeat top left;
	min-height: 80vh;
	// background-size: 250px;
	.nuvemTwo{
		background: url("img/NUVEM_04.png") no-repeat bottom right;
		min-height: 110vh;
		// background-size: 780px;
	}
}
.txtBox{
	min-height: 300px;
	display:flex;
	flex-direction: column;
	
	
}
.txtBoxAgua{
	display: flex;
    flex-direction: column;
    text-align: start;
    /* max-width: 300px; */
    /* min-height: 200px; */
    padding: 15% 0 0 0;
	


}
.boxNuvem{
	text-align:end;
img{
	margin: 0 48px 48px 0;

}
}
.nuvemRoxa{
	background: url("img/NUVEM_06.png") no-repeat top left;
	min-height: 100vh;
// 	background-size: 250px;
 }
.nuvemRoxaTwo{
	background: url("img/NUVEM_07.png") no-repeat center right;
	min-height: 100vh;
	// background-size: 250px;
}

.customList{
	list-style: none;
	margin-top:25%
}
.listaIcons{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	li{
		width: 200px;
		margin:0 8px;
		img{
			max-width: 100px;
		}
	}
	
}
.sectionMicelar{
	.nuvemRoxa{
		min-height: 70vh;
		
	}
}
.txtBoxMicelar{
	margin-top:20%;
}

#firstSection{
	min-height: 70dvh;
}
.sectionDois{
	min-height: 90dvh;
	
	padding: 5vh 0;
}